.env
dataset/
Ref_Materials/

__pycache__/

artifacts/**/checkpoints/
artifacts/**/logs/
artifacts/**/trials/
artifacts/**/*.ckpt
artifacts/**/*.db
artifacts/**/test_predictions.csv
artifacts/**/state.json